* {
	padding:0;
	margin:0;
}

html {
	background-color: black;
	background-position: 50% 50%;
	background-size: 100%;
	background-image: url('../images/splash.jpg');
	background-repeat: no-repeat;
	height:100%;
}

h1 {
	margin:20px;
	text-align: center;
	font-size: 2em;
	color:white;
}

h2 {
	margin: 10px;
	color: white;
	text-align: center;
}

h3 {
	font-size: 1.4em;
	color: white;
	text-align: center;
}

.clear {
	clear:both;
}

.selected {
	background-color: #444 !important;
}

button.btn-enter {
	background-color: transparent;
	border:0px;
	cursor: pointer;
	background-image: url('../images/btn-normal.png');
	width: 239px;
	height:71px;
	font-size: 1.3em;
	color:white;
}

button.btn-enter:hover {
	background-color: transparent;
	border:0px;
	cursor: pointer;
	background-image: url('../images/btn-pressed.png');
	width: 239px;
	height:71px;
	font-size: 1.3em;
	color:white;
}

.canvas-container {
	width: 576px;
	height: 576px;
	margin: 10px auto 0px auto;
	border: 1px solid #666;
	background: black;
	position: relative;
	border-radius: 6px;
}

.login-section {
	position: absolute;
	width: 540px;
	background-color: black;
	border:2px solid white;
	top:100px;
	padding:30px;
	margin-left:-12px;
	text-align: center;
	border-radius: 6px;
}

.login-section input[type=text] {
	font-size: 25px;
	color:#666;
	border-radius: 6px;
}

.player-class {
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	float:left;
	width:150px;
	height:200px;
	background-color: black;
	border:1px solid white;
	border-radius: 6px;
	box-shadow: 0 0 8px #aaa;

	transition: background-color 1s, font-size 1s, left 1s ease-out;                        
    -webkit-transition: background-color 1s, font-size 1s, left 1s ease-out;
}

.player-class p {
	color:white;
	height:60px;
	margin-top: 10px;
	margin-bottom: 10px;
}